# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/RamPaGe_2.0/nbproject/private/
/RamPaGe_2.0/build/
/RamPaGe_v2/target/
/RamPaGe2.0/nbproject/private/
/RamPaGe2.0/build/